@using DynamicMVC1.Models
@using System.Web.UI.WebControls; 
@model DynamicMVC1.Models.Storage
@{
    ViewBag.Title = "SV4U Enterprise Data PipeLine";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("RunJob", "Job", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {

                <h4>Select a job to run.</h4>
                <hr />                
                <table align="center" class="taskList" bordercolor="#bbbbbb" style="width: 600px; border-collapse: collapse;" border="1" cellspacing="0" cellpadding="3">
				<tbody>
					<tr>
						<td style="width: 20%; text-align: center;">
							<label>Source</label>
						</td>
						<td style="width: 20%; text-align: center;">
							<label class="col-lg-2 control-label" for="hobies" >Action</label>
						</td>						
						<td style="width: 20%; text-align: center;">
							<label class="col-lg-2 control-label" for="hobies">Destination</label>
						</td>						
					</tr>
					<tr>
						<td style="width: 20%; text-align: center;">
							<div class="form-group">								
								@{var listItems = new List<ListItem>
										{
											  new ListItem { Text = "MySQL", Value="MySQL" },
											  new ListItem { Text = "Oracle", Value="Oracle" },
											  new ListItem { Text = "AWS", Value="AWS" },
											  new ListItem { Text = "HDFS", Value="HDFS" },
											  new ListItem { Text = "Hive", Value="Hive" },
											  new ListItem { Text = "MogoDB", Value="MogoDB" }
										};
									}
									@Html.DropDownList("MySQL",new SelectList(listItems,"Value","Text"))
							</div> 
						</td>
						<td style="width: 20%; text-align: center;">
							<input type="submit" value="Transfer >>" class="btn btn-default" />
						</td>					
						<td style="width: 20%; text-align: center;">
							<div class="form-group">								
								@{var listItemsHDFS = new List<ListItem>
									{
										  new ListItem { Text = "HDFS", Value="HDFS" },
										  new ListItem { Text = "Hive", Value="Hive" },
										  new ListItem { Text = "MySQL", Value="MySQL" },
										  new ListItem { Text = "Oracle", Value="Oracle" },
										  new ListItem { Text = "AWS", Value="AWS" },
										  new ListItem { Text = "MogoDB", Value="MogoDB" }
									};
								}
								@Html.DropDownList("HDFS",new SelectList(listItemsHDFS,"Value","Text"))
							</div>	
						</td>
					</tr>
				  </tbody>
				</table>             
            }

        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}