<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>

    <!-- EDPL MetaData for Admin Menu Stored in MySQL -->
    <add name="DefaultConnection" connectionString="server=HOST_IP;user id=USER_ID;password=PASSWORD;persistsecurityinfo=True;database=DATABASE;port=PORT_NO;" providerName="MySql.Data.MySqlClient" />

    <!-- EDPL MySQL -->
    <add name="DefaultConnectionMySQL" connectionString="server=HOST_IP;user id=USER_ID;persistsecurityinfo=True;database=DATABASE;port=PORT_NO;" providerName="MySql.Data.MySqlClient" />

    <!-- EDPL Hive -->
    <add name="DefaultConnectionHive" connectionString="DRIVER={Microsoft Hive ODBC Driver};applysspwithqueries=1;asyncexecpollinterval=100;authmech=3;binarycolumnlength=32767;caissuedcertnamesmismatch=0;decimalcolumnscale=10;driverconfigtakeprecedence=0;enableasyncexec=0;gettableswithquery=0;host=HOST_IP;lcasesspkeyname=1;database=DATABASE;HiveServerType=2;port=PORT_NO;rowsfetchedperblock=10000;showhivesystemtable=0;trustedcerts={D:\Program Files\Microsoft Hive ODBC Driver\lib\cacerts.pem};uid=USER_ID;pwd=PASSWORD;useunicodesqlcharactertypes=0;" providerName="System.Data.Odbc" />
    
    <!-- EDPL Impala -->
    <add name="DefaultConnectionImpala" connectionString="DRIVER={Cloudera ODBC Driver for Impala};applysspwithqueries=1;asyncexecpollinterval=100;authmech=3;binarycolumnlength=32767;caissuedcertnamesmismatch=0;decimalcolumnscale=10;driverconfigtakeprecedence=0;enableasyncexec=0;gettableswithquery=0;host=HOST_IP;lcasesspkeyname=1;database=DATABASE;port=PORT_NO;rowsfetchedperblock=10000;showhivesystemtable=0;trustedcerts={D:\Program Files (x86)\Cloudera ODBC Driver for Impala\lib\cacerts.pem};uid=USER_ID;pwd=PASSWORD;useunicodesqlcharactertypes=0;" providerName="System.Data.Odbc" />

    <!-- EDPL Spark -->
    <add name="DefaultConnectionSpark" connectionString="Dsn=Sample Microsoft Spark DSN;applysspwithqueries=1;asyncexecpollinterval=100;authmech=3;binarycolumnlength=32767;caissuedcertnamesmismatch=0;decimalcolumnscale=10;driverconfigtakeprecedence=0;enableasyncexec=0;gettableswithquery=0;host=HOST_IP;lcasesspkeyname=1;database=DATABASE;port=PORT_NO;rowsfetchedperblock=10000;showhivesystemtable=0;trustedcerts={D:\Program Files (x86)\Microsoft Spark ODBC Driver\lib\cacerts.pem};uid=USER_ID;pwd=PASSWORD;useunicodesqlcharactertypes=0;" providerName="System.Data.Odbc" />

    <!-- EDPL HBase -->
    <add name="DefaultConnectionHBase" connectionString="DRIVER={Simba HBase ODBC Driver};applysspwithqueries=1;asyncexecpollinterval=100;authtype=3;binarycolumnlength=32767;caissuedcertnamesmismatch=0;decimalcolumnscale=10;driverconfigtakeprecedence=0;enableasyncexec=0;gettableswithquery=0;host=HOST_IP;lcasesspkeyname=1;database=DATABASE;port=PORT_NO;rowsfetchedperblock=10000;showhivesystemtable=0;trustedcerts={D:\Program Files (x86)\Simba HBase ODBC Driver\lib\cacerts.pem};uid=USER_ID;pwd=PASSWORD;useunicodesqlcharactertypes=0;" providerName="System.Data.Odbc" />

    <!-- EDPL PostgresSQL -->
    <add name="DefaultConnectionPostgreSQL" connectionString="Server=HOST_IP;Port=PORT_NO;Database=DATABASE;Uid=USER_ID;Pwd=PASSWORD;" />

  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework codeConfigurationType="MySql.Data.Entity.MySqlEFConfiguration, MySql.Data.Entity.EF6">
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
      <add name="PostgreSQL Data Provider" invariant="Npgsql" description=".Net Framework Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Version=3.0.5.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" /> 
    </DbProviderFactories>
  </system.data></configuration>