@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="jumbotron">
    <h1>Enterprise Data Pipeline</h1>
    <br />
    <p class="lead">Enterprise Data Pipeline is an application to move data from source to destination. Source and destination can be Databases or HDFS Clusters.</p>
    <br />
    <p><a href="http://www.siliconvalley4u.com" class="btn btn-primary btn-lg">Siliconvalley4u &raquo;</a></p>
</div>
