@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>USA:</strong>
    <br />
    <abbr title="Phone">Tel: </abbr>
    1-408-505-5499
    <br />
    <br />
    Bishop Ranch 3, 2603 Camino Ramon<br />
    Suite 200, San Ramon, California, 94583<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:info@siliconvalley4u.com">info@siliconvalley4u.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:info@siliconvalley4u.com">info@siliconvalley4u.com</a>
</address>

<address>
    <strong>India:</strong>
    <br />
    <abbr title="Phone">Banglore : </abbr>
    +91 -9945164544 ( Anil)
    <br />
    <abbr title="Phone">Hyderabad : </abbr>
    +91 -94-41273740 (Srinivas)
    <br />
    <abbr title="Phone">Kerala : </abbr>
    +91-9746571777 (Siva)
    <br />
    <abbr title="Phone">Mumbai : </abbr>
    +91-9323107180 (Gautam)
</address>